@import 'layout.css';
@import 'normalize.css';
@import '_marked.css';

pre {
  padding: 10px 10px 10px 20px;
  background: hsla(0,0%,100%,.05);
  border: 1px solid hsla(0,0%,100%,.3);
  overflow: scroll;
}
