.ly-col-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  &:before,
  &:after {
    display: flex;
  }
}

.ly-row-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &:before,
  &:after {
    display: flex;
  }
}

.flex-start {
  justify-content: flex-start;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-top {
  align-items: flex-start;
}

.flex-middle {
  align-items: center;
}

.flex-bottom {
  align-items: flex-end;
}
